@{
    ViewData["Title"] = "Home";
}

<div class="col-md-9 technology-left">
    <div class="blog">

        <h2 class="w3">All Posts</h2>
        <div class="blog-grids1">

            <div class="col-md-6 blog-grid">
                <div class="blog-grid-left1">
                    <a href="singlepage.html"><img src="~/home/images/f1.jpg" alt=" " class="img-responsive" style="width:200px; height:200px;"></a>
                </div>
                <div class="blog-grid-right1">
                    <a>Post Title</a>
                    <h4>@DateTime.Now.ToShortDateString();</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="clearfix"> </div>
                <div class="more m1">
                    <a class="btn effect6 btn-primary">Learn More</a>
                </div>
            </div>
            <div class="col-md-6 blog-grid">
                <div class="blog-grid-left1">
                    <a href="singlepage.html"><img src="~/home/images/f1.jpg" alt=" " class="img-responsive" style="width:200px; height:200px;"></a>
                </div>
                <div class="blog-grid-right1">
                    <a>Post Title</a>
                    <h4>@DateTime.Now.ToShortDateString();</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="clearfix"> </div>
                <div class="more m1">
                    <a class="btn effect6 btn-primary">Learn More</a>
                </div>
            </div>


        </div>




    </div>

    <nav class="paging">
        <ul class="pagination pagination-lg">
            <li><a href="#" aria-label="Previous"><span aria-hidden="true"><<</span></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">>></span></a></li>
        </ul>
    </nav>
</div>
