@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <span class="text-light">Logged in as : @User.Identity.Name!</span>
   
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Admin", new { area = "" })">
        <button type="submit" class="nav-link btn btn-link text-primary">Logout</button>
    </form>
}
else
{
    <span class="text-light">Not logged in!</span>

}



